@using FrontEndProjetoFinalAtos.ViewsModels;
@model ProdutoViewModel

@{

    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/css/Produto/produto.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300&display=swap" rel="stylesheet">


</head>
<body>


    <h1>Cadastrar <span id="destaque-titulo">Produto</span></h1>

    <form method="post" asp-action="CadastrarProduto">

        
        <div id="box-inputs-nome-preco">
            <div id="box-input-produto">
                <label for="produto">Nome do Produto: </label>
                <input asp-for="Produto.Nome" class="inputs" type="text" id="produto" required>
            </div>

            <div id="box-input-preco">
                <label for="preco">Preço: </label>
                <input asp-for="Produto.Valor" class="inputs" type="text" id="preco" required>
            </div>
        </div>
        

        <div id="box-select">
            <label for="categoria">Categoria: </label>
            <select asp-for="Produto.FkCategoria" class="inputs" name="Produto.FkCategoria">
                @foreach(var categoria in Model.Categorias)
                {
                <option value="@categoria.Id">@categoria.Nome</option>
                }
            </select>
        </div>

        <button type="submit" id="button-confirmar">Confirmar</button>


    </form>

        <div id="box-crud-produto">
            <div id="box-button-status">

                <form method="get" asp-action="Index">
                    <button class="button-padrao">Todos</button>

                </form>

                <form method="get" asp-action="BuscarAtivos">
                    <button class="button-padrao">Ativos</button>

                </form>

                <form method="get" asp-action="BuscarInativos">
                    <button class="button-padrao">Inativos</button>
                </form>
           </div>


        <table class="tabela">

            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Produto</th>
                    <th scope="col">Preço</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Status</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>

            <tbody>

                @foreach(var produto in Model.Produtos)
                {
                <tr>
                     <td id="id">@produto.Id</td>
                     <td id="nome">@produto.Nome</td>
                     <td id="preco">@produto.Valor</td>
                     <td id="categoria">@produto.FkCategoriaNavigation.Nome</td>
                     <td id="status">@(produto.Ativo == true ? "Ativo" : "Inativo")</td>
                        <td><button onclick="atualizarProduto('@produto.Id','@produto.Nome','@produto.Valor','@produto.FkCategoriaNavigation.Id','@produto.Ativo')" data-bs-toggle="modal" data-bs-target="#exampleModal" class="button-padrao">Alterar</button></td>
                 </tr>

                }
            </tbody>

        </table>
        </div>


        


    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="box-modal-header">
                    <h5 class="modal-titulo">ALTERAR<span id="titulo-id"></span></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" asp-action="AtualizarProduto">
                    <div class="box-modal-body">
                        
                        <input asp-for="Produto.Id" type="hidden" id="inputId" />
                        <label for="produto">Produto: </label>
                        <input asp-for="Produto.Nome" id="inputNome" type="text" class="inputs" required />

                        <label for="preco">Preço: </label>
                        <input asp-for="Produto.Valor" id="inputPreco" class="inputs" required />
                        

                        <label for="categoria">Categoria: </label>
                        <select asp-for="Produto.FkCategoria" id="selectCategoria" class="inputs" asp-for="Produto.FkCategoria" name="Produto.FkCategoria">
                            @foreach (var categoria in Model.Categorias)
                            {
                                <option value="@categoria.Id">@categoria.Nome</option>
                            }
                        </select>

                        <label for="status">Status: </label>
                        <select asp-for="Produto.Ativo" id="selectStatus" class="inputs" required>

                            <option value="true">Ativo</option>
                            <option value="false">Inativo</option>


                        </select>
                    
                    </div>
                    <div class="box-modal-footer">
                        <button type="button" class="button-cancelar-modal" data-bs-dismiss="modal">Cancelar</button>


                        
                        <button type="submit" class="button-confirmar-modal">Confirmar</button>
                    </form>
                </div>
            </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://igorescobar.github.io/jQuery-Mask-Plugin/js/jquery.mask.min.js"></script>
    <script>
        $(document).ready(function () {
            if (typeof $ === 'undefined') {
                console.log('Erro: jQuery não está sendo carregado corretamente.');
            } else {
                console.log('jQuery carregado com sucesso.');
                $('#preco').mask('#.##0,00', { reverse: true });
                $('#inputPreco').mask('#.##0,00', { reverse: true });
            }
        });
    </script>

    <script src="~/js/Produto/produto.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
   
</body>
</html>
